<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Dimensions</string>
            <key>footerText</key>
            <string>Adjust the media player's sizing and corner radius.</string>
        </dict>
        <dict>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>cellClass</key>
			<string>GSSliderCell</string>
			<key>title</key>
			<string>Height:</string>
			<key>default</key>
			<real>120.0</real>
			<key>defaults</key>
			<string>com.ginsu.gradi</string>
			<key>key</key>
			<string>height</string>
			<key>min</key>
			<real>70.0</real>
			<key>max</key>
			<real>500.0</real>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>cellClass</key>
			<string>GSStepperCell</string>
			<key>title</key>
			<string>Radius</string>
			<key>default</key>
			<real>5</real>
			<key>defaults</key>
			<string>com.ginsu.gradi</string>
			<key>key</key>
			<string>cornerRadius</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>100</real>
		</dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Timeline</string>
            <key>footerText</key>
            <string>Adjust the media player's sizing and corner radius.</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>PSSubtitleSwitchTableCell</string>
			<key>cellSubtitleText</key>
			<string>Show/Hide the music progress bar</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.ginsu.gradi</string>
			<key>key</key>
			<string>showTimeline</string>
			<key>label</key>
			<string>Show timeline</string>
			<key>id</key>
			<string>showTimelineStatus</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>cellClass</key>
			<string>GSStepperCell</string>
			<key>title</key>
			<string>Timeline height</string>
			<key>default</key>
			<real>5</real>
			<key>defaults</key>
			<string>com.ginsu.gradi</string>
			<key>key</key>
			<string>timelineHeight</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>25</real>
			<key>dynamicRule</key>
			<string>showTimelineStatus,s,1</string>
		</dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Now playing info</string>
            <key>footerText</key>
            <string>Show/Hide the now playing info at the top of the player.</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>PSSubtitleSwitchTableCell</string>
			<key>cellSubtitleText</key>
			<string>Shows app icon + AirPlay menu</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.ginsu.gradi</string>
			<key>key</key>
			<string>showNPInfo</string>
			<key>label</key>
			<string>Show now playing info</string>
		</dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Miscellaneous</string>
            <key>footerText</key>
            <string>Scroll the track/artist name labels if they are long enough.</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>PSSubtitleSwitchTableCell</string>
			<key>cellSubtitleText</key>
			<string>Marquee effect on labels</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.ginsu.gradi</string>
			<key>key</key>
			<string>scrollingLabels</string>
			<key>label</key>
			<string>Scroll labels</string>
		</dict>
	</array>
	<key>title</key>
	<string>Behaviour</string>
</dict>
</plist>
